/************************** COLOURS **************************/

$color-one: #F24FAF;
$color-two:#F2433B;
$color-three:#FECF52;
$color-four: #00AF4A;
$color-five: #01DDC7;


$color-text: #3a3a3a;

$color-bg-one:#bbbbbb;
$color-bg-two:#dadada;
$color-bg-three: #222222;

/************************** SHADOWS **************************/ 
$shadow-nine: 0 1rem 2rem rgba(0,0,0,.9);
$shadow-eight: 0 1rem 2rem rgba(0,0,0,.8);
$shadow-seven: 0 1rem 2rem rgba(0,0,0,.7);
$shadow-six: 0 1rem 2rem rgba(0,0,0,.6);
$shadow-five: 0 1rem 2rem rgba(0,0,0,.5);
$shadow-four: 0 1rem 2rem rgba(0,0,0,.4);
$shadow-three: 0 1rem 2rem rgba(0,0,0,.3);
$shadow-two: 0 1rem 2rem rgba(0,0,0,.2);
$shadow-one: 0 1rem 2rem rgba(0,0,0,.1);


   
/************************** RESPONSIVE BREAKPOINTS **************************/ 
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;




